//
// A sample particle configuration file
//

// This is a 2d simulation
Dimensions: 2

// Set the simulation bounds
Bounds: {
  : -2, 2 // X
  : -2, 2 // Y
}

// Set the number of particle types
NTypes: 2

// Choose the type of integrator
Integrator: LangevinIntegrator {
  Temperature: 200
  Viscosity: 0.1
}

Force-grid: {
  : 0, 0, HardSphere
  : 0, 1, Consumption
  : 1, 1, HardSphere
}

Creation: {
  0 : 0, 0.01
  1 : 1, 1
}

Destruction: {
  0 : 0.01
  1 : 0.01
}

/*
Line: {
  Template: Block {
    Radius: 0.05
    Mass: Inf
    Type: 0
  }

  Start: -4, 4
  End: 4, 4

  Number: Packed
}
*/


// Fill an area with particles
Fill-area {
  // Fill all the simulation with particles
  Bounds: Full

  Template: Particle {
    Radius: 0.05
    Mass: Density=1
    Type: Random {
      P: 0, 0.1
      P: 1, 0.9
    }
  }

  /*
  Molecule: Water {
    Particle: A {
      Position: 0, 0
      Radius: 0.05
      Type: 0
      Mass: Density=1
    }

    Particle: B {
      Position: 1, 0
      Radius: 0.08
      Type: 0
      Mass: Density=1
    }

    Particle: C {
      Position: 2, 0
      Radius: 0.05
      Type: 0
      Mass: Density=1
    }

    Bond: Strength=0.1 {
      : A, B
    }

    Bond: Strength=0.1 {
      : B, C
    }

    Angle: Strength=0.1 {
      : A, B, C
    }
  }
  */

  Number: Phi=0.5

}
