//
// A sample particle configuration file
//

// This is a 2d simulation
Dimensions: 2

// Set the simulation bounds
Bounds: {
  : -2, 2 // X
  : -2, 2 // Y
}

// Set the number of particle types
NTypes: 2

// Choose the type of integrator
Integrator: VelocityVerlet

Force-grid: {
  : 0, 1, HardSphere
  : 0, 0, HardSphere
  : 1, 0, HardSphere
  : 1, 1, HardSphere
}

// Fill an area with particles
Fill-area {
  // Fill all the simulation with particles
  Bounds: {
    : -2, 0
    : -2, 0
  }

  Template: TypeA {
    Radius: Uniform {
      Lower: 0.04
      Upper: 0.05
    }
    Mass: Density=1
    Type: 0
  }

  Template: TypeB {
    Radius: Normal {
      Ave: 0.05
      Var: 0.01
    }
    Mass: Density=1
    Type: 1
  }

  
  Number: {
    TypeA: 150
    TypeB: 250
  }

  Number: Phi=0.5 {
    TypeA: 40
    TypeB: 60
  }

}
