// This is a 2d simulation
Dimensions: 2

// Set the simulation bounds
Bounds: {
  : 0, 32 // X
  : 0, 128 // Y
}

Integrator: VelocityVerlet

Boundary: Wrap

Gravity: 0, 0

// Set the number of particle types
NTypes: 1

// Creates a random force network of HardSphere and Lennard-Jones forces
Force-grid: {
  : 0, 0, HardSphereGeneral
}

// Fill an area with particles
Fill-area {
  // Fill all the simulation with particles
  Bounds: Full

  Template: TypeA {
    Radius: 0.05
    Mass: Density=1
    Type: 0
  }

  Number: Phi=0.92 {
    TypeA : 1
  }

  Velocity: Zero

}

// The large, dropping particle
Particle {
  Position: 16, 32
  Sigma: 1
  Velocity: 0, -5
  Modifier: CV
}
